body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url("Solid.jpg");
  background-size: cover;
  background-position: center;
  min-height: 1000px; */

}

.mystyle {

    margin: 30px auto;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.4s;
  
}

.mystyle .card-image img {
  border-radius: 10px;
}

.mystyle .card-content .card-title{
  max-height: 63px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:200px;
  display:inline-block;
}

.mystyle .row .container{
  margin-right: 67px;
}

 .home .card .row img {
  height: 30px;
  width: 30px;
} 

.home .card-action .row button {

  margin-right: 1em;
 
} */



.profile .container .center img {

  height: 70px;
  width: 70px;

}

.third {
  border-color: blue;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;
  

}

.postStyle .row .container{
  margin-left: 976px;
}

.textArea .white .row .input-field.col.s12 .myTextArea{
  height: 7rem !important;
}
